body{
    background-color: darkorange;
}

.button{
    background-color: rgb(255, 85, 0);
}

.delete {
    background-color: rgb(255, 85, 0);
}

h1:after {
    content: "Task";
    color: rgb(244, 94, 0);
    left:-50px;
  }